.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 12rem;
    /* background-color: #fff; */
    background-color: #282c34;
    border-radius: 5px;
    gap: 1rem;
}

.img {
    font-size: 2rem;
    color: rgb(255, 255, 255, 0.5);
}

.heading {
    font-size: 0.9rem;
    color: #bcccdc;
}