.label {
    display: flex;
    padding: 1rem;
    /* color: #fff; */
    /* color: #000; */
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
    color: #BCCCDC;
}

.left {
    display: flex;
    gap: 0.3rem;
}

.arrow {
    font-size: 0.7rem;
}

.text {
    font-size: 0.8rem;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    /* color: rgb(0, 0, 0, 0.7); */
    color: #BCCCDC;
}

.right div {
    cursor: pointer;
}