@font-face {
    font-family: Aphro;
    src: url('../assets/fonts/AphroditeSlimPro.otf');
}

@font-face {
    font-family: Akkurat;
    src: url('../assets/fonts/Akkurat-Mono.OTF');
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Aphro', sans-serif;
    cursor: pointer;
}

.playground-btn {
    color: #BCCCDC;
    cursor: pointer;
    font-family: 'Akkurat', sans-serif;
}