.playground {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: 1rem 5rem;
    /* min-height: 15rem; */
    height: 30rem;
}

.editor {
    display: flex;
    flex-grow: 1;
}

/* .editor {
    /* counter-reset: line; */
    /* border: none; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; */
    /* background-color: #282c34;
    background: linear-gradient(90deg, #20232a 0%, #282c34 51%, #20232a 100%); */
    /* color: white; */
    /* height: 20rem; */
} */

/* .editor #codeArea {
    outline: none;
    padding-left: 60px !important;
}

.editor pre {
    padding-left: 60px !important;
}

.editor .editorLineNumber {
    position: absolute;
    left: 0px;
    color: #cccccc;
    text-align: right;
    width: 40px;
    font-weight: 100;
} */